/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #282c34;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: auto;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 60px; /* Added margin to prevent content from being hidden behind the footer */
}

h2 {
    border-bottom: 2px solid #282c34;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 1.5em;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}

.version-label {
    font-weight: bold;
    margin-left: 10px;
}

.version-label.alpha {
    color: red;
}

footer {
    background-color: #282c34;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 0.9em;
    position: fixed;
    width: 100%;
    bottom: 0;
}

code {
    background-color: #f1f1f1;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 0.9em;
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #e0e0e0;
    }

    header {
        background-color: #1f1f1f;
    }

    main {
        background-color: #1e1e1e;
        color: #e0e0e0;
    }

    a {
        color: #81a1c1;
    }

    a:hover {
        color: #5e81ac;
    }

    footer {
        background-color: #1f1f1f;
    }

    code {
        background-color: #2e2e2e;
    }
}
